{{> menu id="about"}}

<section class="ui center aligned middle aligned column">
    <!--<div class="ui two column grid">
      <div class="column"> -->
    <div class="ui segment">
        <h2>About Us</h2>
        <h3> Welcome to the Food Saver Companion App! </h3>
        <p>
            Food Saver IOT was created by passionate foodies who are
            dedicated to helping people reduce food waste and save money on their grocery bills.
            We believe that everyone should have access to the tools and resources they need
            to make the most of their food purchases, and that's where our Food Saver Companion App comes in. </p>
        <p>
            Our Food Saver Companion App is designed to work seamlessly with our Food Saver IoT device,
            which helps users reduce food waste by providing reminders to use up items before they expire.
            The Food Saver Companion App allows users to view, update, and delete their list of scanned food items,
            and it also sends email reminders to use or freeze perishable items before they go bad.
        </p>
        <p>
            With our Food Saver Companion App, you can easily track the expiration dates of your food items,
            stay organized, and save money on your groceries. Plus, with our commitment to sustainability and reducing
            food waste, you can feel good about using our app to make a positive impact on the environment.
        </p>
        <p>
            Thank you for choosing the Food Saver Companion App. We hope you enjoy using it as much as we enjoyed creating it.
        </p>
        <p >
            Best regards,
        </p>
        <p> <b> The Food Saver Team </b> </p>
        <br>
        <p>It is important to note that the data retrieved from Open Food Facts may not always be accurate. Open Food Facts is an open data project that relies on contributions from users around the world to build and maintain its database of food products. While the project strives to provide accurate and reliable information, the data may not always be complete or up-to-date.</p>
        <p>There are several reasons why the data from Open Food Facts may not always be accurate. For example:</p>
        <ul>
            <li>Some products may not be listed in the database at all.</li>
            <li>Some products may be listed with incomplete or outdated information.</li>
            <li>Some products may be listed with incorrect or misleading information.</li>
        </ul>
        <p>To ensure the accuracy of the data from Open Food Facts, it is important for users to contribute to the project by
            adding new products and updating existing ones. This helps to build and maintain a comprehensive and
            reliable database of food products.</p>
        <p>We encourage users to visit Open Food Facts and contribute to the project by adding new products
            and updating existing ones. By participating in the project, you can help to improve the accuracy and reliability
            of the data and make it more useful for everyone.</p>
        <br>
    </div>
    <div>
        <div class="ui center aligned segment">
            <h2>Contact Us</h2>
            <br>
            <p>
                If you'd like to learn more about our product or simply want to join our mailing list please get in touch
                via E-Mail or through our social media pages.
                <br><br> E-Mail: info@foodsaveriot.ie
                <br><br>
                <a href="#"><i class="large circular colored blue twitter icon"></i></a>
                <a href="#"><i class="large circular colored blue facebook f icon"></i></a>
                <a href="#"><i class="large circular colored blue discord icon"></i></a>
            </p>
        </div>
    </div>
</section>