{{> welcomemenu id="start"}}

<section class="ui center aligned middle aligned column">
    <div class="ui two column grid" >
        <div class="column" style="padding-top: 5%; padding-right: 0 ">
            <div class="ui center aligned segment" >
                <h2 class="ui center aligned brown header">
                    Welcome to Food Saver
                </h2>
                <p>
                    A small app to track your groceries.<br><br>
                    This app will allow you to view, update and delete your tracked grocery items.
                    <br><br>
                    Please Signup or Login using the menu above <br><br>
                </p>
            </div>
        </div>
        <div class="column" style="padding-top: 5%; padding-left: 0">
            <div class="ui segment" style="padding: 0;">
                <img class="ui image" src="https://cdn.glitch.global/c820e567-47f2-423d-9f12-47eb49973b2a/reduceFoodWaste.png?v=1671650919047">
            </div>
        </div>
    </div>
</section>